$background-color: $paper-white;
$font-color: $charcoal;

body {
  background-color: $background-color;
  color: $font-color;
}

$quote-background-color: shade($background-color, 10%);
$quote-font-size: ($font-size * 1.667);

.quote {
  background-color: $quote-background-color;
  font-size: $quote-font-size;
}
