$font-size: 18px;
$line-height: 1.6;
$vertical-margin: 40px;
$max-width: 650px;
$horizontal-padding: 10px;
$heading-line-height: 1.2;

body {
  font-size: $font-size;
  line-height: $line-height;
  margin: $vertical-margin auto;
  max-width: $max-width;
  padding: 0 $horizontal-padding;
}

h1,
h2,
h3 {
  line-height: $heading-line-height;
}
