$background-color: $paper-white;
$body-line-height: 1.6;
$body-font-size: 18px;
$quote-border-radius: 10px;
$quote-background-color: shade($background-color, 10%);
$quote-font-size: $body-font-size*1.667;
